.main-navigation {
    position:fixed;
    /* fixed to the top */
    left:0;
    top:0;
    width:100%;
    height:3.5rem;
    background: rgb(59, 99, 184);
    padding: 0 1rem;
    display: flex;
    /* vertical align */
    align-items: center;
}

.main-navigation__logo h1{
    margin:0;
    font-size:1.5rem;

}

.main-navigation__items{
    margin-left: 1.5rem;

}

.main-navigation__items ul{
    display: flex;
    list-style: none;
    padding:0;
    margin:0;
}

.main-navigation__items ul li{
    margin: 0 1rem;
}

/* a is in the NavLink */
.main-navigation__items ul li a{
    text-decoration: none;
    color:rgb(23, 39, 107);
}

.main-navigation__items ul li a:hover,
.main-navigation__items ul li a:active,
.main-navigation__items ul li a.active
{ 
    color:rgb(150, 128, 223);
}